*{
    margin:0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%)
}
/* main container */
.container{
    width: 250px;
    height: 400px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 12px;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 20px 2px;
}
/* main image */
.main-img{
    width: 210px;
    position: relative;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px;
}
/* main image hover style */
.hover-img{
    position: absolute;
    width: 210px;
    margin-left: 20px;
    margin-top: 15px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px;
    opacity: 0;
    transition: .5s ease;
}
.hover-img:hover{
    opacity: 1;
}
/* titles and titles hover */
h1{
    font-family: 'Outfit', sans-serif;
    margin-left: -210px;
    margin-top: 235px;
    position: relative;
}
h1 a{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 10px;
    font-size: large;
}
h1 a:hover{
    color: hsl(178, 100%, 50%);
    }
pre{
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    margin-top: 5px;
    margin-left: -210px;
    color: hsl(215, 51%, 70%);
}
/* purchase info */
.eth-icon{
    width: 8px;
    height: auto;
    position: relative;
    margin-top: 310px;
    margin-left: -211px;
}
.price{
    margin-top: 3px;
}
.eth-price{
    position: relative;
    margin-left: -200px;
    margin-top: -17px;
    font-family: 'Outfit', sans-serif ;
    font-size: 10px;
    color: hsl(178, 100%, 50%);
}
.time{
    margin-left: 147px;
    margin-top: 12px;
    color: hsl(215, 51%, 70%);
}
.time-icon{
    width: 13px;
    height: auto;
    position: relative;
    margin-top: 300px;
    margin-left: -213px;
}
.time-text{
    position: relative;
    margin-left: -198px;
    margin-top: -18px;
    font-family: 'Outfit', sans-serif ;
    font-size: 11px;
    font-weight: 500;
}
/* line style*/
.underline{
    width: 209px;
    height: 1px;
    margin-top: 340px;
    margin-left: 20px;
    background-color: hsl(215, 32%, 27%);
    position: absolute;
}
/* creator */
.avatar{
    width: 25px;
    border: solid white 1px;
    border-radius: 50%;
    margin-top: 350px;
    margin-left: -360px;
}
.avatar-tag{
    margin-left: -330px;
    margin-top: -22px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 10px;
}
.avatar-title{
    color: hsl(215, 51%, 70%)
}
.avatar-div a{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 10px;
}
/* links style and hover */
a:visited{
    color:hsl(0, 0%, 100%);
}
.avatar-tag a:hover{
color: hsl(178, 100%, 50%);
}
a{
    color: aliceblue;
    text-decoration: none;

}
.attribution {
    font-size: 8px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(215, 39%, 64%);
    margin-bottom: -500px;
    position: absolute;
    opacity: 0.7;
}
.attribution a{
    color: hsla(178, 100%, 50%, 0.76);
    text-decoration: none;
}
.creator-link{
    color:aliceblue;
    text-decoration: none;
}