*{
    margin:0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 123, 131);
}
.container{
    width: 250px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 12px;
    display: flex;
    box-shadow: 0px 0px 20px 2px;

}
.main-img{
    width: 210px;
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px;
}
h1{
    font-family: 'Outfit', sans-serif;
    margin-left: -210px;
    margin-top: 235px;
    position: relative;
}

pre{
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    margin-top: 5px;
    margin-left: -210px;
}

.eth-icon{
    width: 8px;
    height: auto;
    position: relative;
    margin-top: 310px;
    margin-left: -211px;

}
.price{
    margin-top: 3px;
}
.eth-price{
    position: relative;
    margin-left: -200px;
    margin-top: -17px;
    font-family: 'Outfit', sans-serif ;
    font-size: 10px;
    font-weight: 500;
}
.time{
    margin-left: 147px;
    margin-top: 12px;
}
.time-icon{
    width: 13px;
    height: auto;
    position: relative;
    margin-top: 300px;
    margin-left: -213px;
}
.time-text{
    position: relative;
    margin-left: -198px;
    margin-top: -18px;
    font-family: 'Outfit', sans-serif ;
    font-size: 11px;
    font-weight: 500;
}
.underline{
    width: 209px;
    height: 1px;
    margin-top: 340px;
    margin-left: 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
}
.avatar{
    width: 25px;
    border: solid white 1px;
    border-radius: 50%;
    margin-top: 350px;
    margin-left: -360px;
}
.avatar-tag{
    margin-left: -330px;
    margin-top: -22px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 10px;
}
.avatar-title{
    color: aqua;
}
a{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 10px;
}
a:visited{
    color: black;
}
a:hover{
color: aqua;
}